/********************
**  EMPLOYEE PAGE  **
********************/
.eBody {
	margin: 0;
}

#container {
	height: 1400px;
	width: 100%;
	background-color: #FFFF11;
}

.eHeader {
	height: 100;
	background-color: #FFA700;
	font-family: "Fascinate", sans-serfif;
}

.eHeader h1 {
	margin-left: 100px;
	margin-top: 0;
}

#eContainer {
	height: 1280px;
	width: 1000px;
	margin: 0 auto;
	padding-left: 30px;
}

.employee {
	height: 400px;
	width: 470px;
	margin: 5.5px;
	float: left;
	font-family: sans-serfif;
	border: 2px black solid;
	border-radius: 10px;
	background-color: #52FFFF;
	text-align: center;
/*	background-image: url(https://c5.staticflickr.com/8/7338/27158792652_13c175bcaa_o.jpg);*/
}

.eName {
	font-family: "Faster One", sans-serfif;
	font-size: 3em;
	margin: 10px auto;

}

.eTitle {
	font-size: 2em;
	padding: 5px;
}

.eDescription {
	padding: 15px;
}

.eImage {
	border: 2px black solid;
	border-radius: 10px;
}

.ePreFooter {
	height: 60px;
	background-color: #FFA700;	
}
